* {

   box-sizing: border-box;
   
}

body {

   font-family: 'Montserrat';

}

:root {

    --color1: rgb(142, 123, 239);
    --color2: rgb(93, 59, 239);
    --color3: rgb(249, 246, 255);
    --color4: rgb(34, 32, 0);
    --color5: rgb(66, 63, 64);
    --color6: rgb(255, 255, 255);
   
}

h1 {
   font-size: 45px;
   color: var(--color4);
   align-self: center;
}

h2 {
   font-size: 30px;
   color: var(--color4);
   align-self: center;
}

h3 {
   font-size: 25px;
   color: var(--color4);
   align-self: center;
}

h4 {
   font-size: 20px;
   color: var(--color4);
   align-self: center;
}

h5 {

   font-size: 15;
   color: var(--color4);
   align-self: center;
   margin: 2em;
}

@media (max-width: 599px) {

   .nav__bar {

       display: flex;
       justify-content: flex-end;
       padding: 1em;
       margin-bottom: 20px;

   }

   .nav__bar button {

       border: none;
       background-color: var(--color6);
       padding-right: 40px;

   }

   .nav__bar button i {

       color: var(--color2);
       font-size: 28px;
       cursor: pointer;
       transition: 0.5s;

   }
   .nav__bar .nav__toggle i:hover {

       rotate: 180deg;

   }
   /** Responsive Nav */
   .nav__menu {

       display: flex;
       flex-direction: column;
       align-items: center;
       margin-right: 40px;
       background-color: var(--color6);
       position: fixed;
       top: 60px;
       width: 100%;
       padding: 20px 0;
       height: 100%;
       overflow-y: auto;
       left: 100%;
       transition: 0.5s;

   }

   .nav__menu__item {

       line-height: 60px;
       list-style: none;

   }

   .nav__menu__link:hover, .nav__menu__link__active {

       color: var(--color2);
   }

   .nav__toggle {

       display: block;

   }

   .nav__menu_visible {

       left: 0;

   }

   .nav__link {

       text-decoration: none;
       color: var(--color5);
       font-weight: 600;
       font-size: 20px;
       transition: 0.8s;

   }

   #my-skills ,#my-skills, #der-box-icons, #contact {

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      overflow-y: auto;
      left: 100%;
      
   }

   /*first section*/
   .presentation-box {
   
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      overflow-y: auto;
      left: 100%;

   } 
   
   p {

      margin: 2em;

   }
   /*iconos*/

   .container__icons {

      display: inline-flex;
      justify-content: center;
      gap: 1em;

   }
   .container__icons > div {

      background-color: var(--color1);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

   }

   .container__icons div a i {

      color: white;
      font-size: 20px;

   }

   .fa-brands, .fab {

   font-weight: 400;

   }

   .fa-brands, .fab {

   font-family: "Font Awesome 6 Brands";

   }
   /* Boton Contacto */

   #contact-button {

      background-color: var(--color2);
      color: white;
      border-style: none;
      font-size: 15px;
      display: block;
      margin-top: 3em;
      justify-content: center;
      width:max-content;
   }

   .mail-icon {
   
      size: 10px;
      gap: 1em;

   }    

   /*Acerca de mi*/

   .about-me {

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      overflow-y: auto;
      left: 100%;

   }

   /*Mis Habilidades*/

   .my-skills-box {

      width: 60em;
      margin-top: 3em; 
      display: inline-flex;  

   }


   #seo-id {

   gap: 2em;
   background-color: rgba(142, 123, 239, 0.1);
   text-align: center;

   }

   #fullstack {

   gap: 2em;
   background-color: rgba(142, 123, 239, 0.1);
   text-align: center;
   margin-left:15px;

   }

   #interactive-d {

      gap: 2em;
      background-color: rgba(142, 123, 239, 0.1);
      text-align: center;
      margin-left:15px;
   
   }

   /*Experiencia */

   .experience {

      margin-top: 3em;
      justify-content: center;
      display: inline-flex;
   
   }
   
   /*Portafolio*/

   .img-portafolio {

   display: inline;

   }

   /*Contacto*/

   .contact-section {

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      overflow-y: auto;
      left: 100%;

   }

   #n-contact-box {

      background-color: rgba(142, 123, 239, 0.1);
      border-radius: 10px ;
      -webkit-border-radius: 10px ;
      -moz-border-radius: 10px ;
      -ms-border-radius: 10px ;
      -o-border-radius: 10px ;
      padding: 10px; 
      margin: 10px; 
      width: 100px; 
   
   }

   #icon-box-style {

      background-color: rgba(142, 123, 239, 0.1);
      border-radius: 10px ;
      -webkit-border-radius: 10px ;
      -moz-border-radius: 10px ;
      -ms-border-radius: 10px ;
      -o-border-radius: 10px ;
      padding: 10px; 
      margin: 10px; 
      width: 100px;  
   
   }

   /*Footer*/
   .footer__section {
      padding: 40px;
      margin-top: 40px;
      text-align: center;
      color: var(--color2);
      font-weight: 600;
      font-style: italic;

   }

}

@media (min-width: 600px) {
   
   .nav__toggle {

      display: none;

   }
   .nav__menu {

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 40px;
      top: 0px;
      width: 100%;
      padding: 0px 0px;
      left: 0;
      position: inherit;
      background-color: var(--color6);
      list-style: none;
      color: var(--color2);
   }

   .nav__menu li {

      margin-right: 20px;

   }
   .nav__menu li a {

      font-size: 18px;
      color: var(--dark_grey);
      margin-right: 10px;

   }
   .nav__bar {

      padding: 0;
   }

   .nav__link {
      
      text-decoration: none;
      color: var(--color2);
      font-weight: 600;
      font-size: 20px;
      transition: 0.8s;

   }   

   #my-skills ,#my-skills, #der-box-icons, #contact {

      display: inline-flex;

   }

   /*first section*/
   .presentation-box {
   
      display: inline-flex;
      width: auto;
      margin: 30, 30, 30, 30;
      padding: 20px, 20px;
      justify-content: center;

   } 
   .presentation-box li {

      gap: 2em;
      justify-content: center;
   
   }

   p {

      margin: 2em;

   }
   /*iconos*/

   .container__icons {

      display: flex;
      justify-content: center;
      margin-top: 30px;
      gap: 2em;

   }
   .container__icons > div {

      background-color: var(--color1);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

   }

   .container__icons div a i {

      color: white;
      font-size: 20px;

   }

   .fa-brands, .fab {

   font-weight: 400;

   }

   .fa-brands, .fab {

   font-family: "Font Awesome 6 Brands";

   }

   /* Boton Contacto */

   #contact-button {

      background-color: var(--color2);
      color: white;
      border-style: none;
      font-size: 15px;
      display: block;
      margin-top: 3em;
      justify-content: center;
      width:max-content;
   }

   .mail-icon {
   
      size: 10px;
      gap: 1em;

   }    

   /*Acerca de mi*/

   .about-me {

      display: inline-block;
      width: fit-content;
      margin-top: 3em;
      width: 60em;

   }

   /*Mis Habilidades*/

   .my-skills-box {

      width: 60em;
      margin-top: 3em; 
      display: inline-flex;  

   }


   #seo-id {

   gap: 2em;
   background-color: rgba(142, 123, 239, 0.1);
   text-align: center;

   }

   #fullstack {

   gap: 2em;
   background-color: rgba(142, 123, 239, 0.1);
   text-align: center;
   margin-left:15px;

   }

   #interactive-d {

      gap: 2em;
      background-color: rgba(142, 123, 239, 0.1);
      text-align: center;
      margin-left:15px;
   
   }

   /*Experiencia */

   .experience {

      margin-top: 3em;
      justify-content: center;
      display: inline-flex;
   
   }
   
   /*Portafolio*/

   .img-portafolio {

   display: inline;

   }

   /*Contacto*/

   .contact-section {

   gap: 12em;
   font-size: 12px;

   }

   #n-contact-box {

      background-color: rgba(142, 123, 239, 0.1);
      border-radius: 10px ;
      -webkit-border-radius: 10px ;
      -moz-border-radius: 10px ;
      -ms-border-radius: 10px ;
      -o-border-radius: 10px ;
      padding: 10px; 
      margin: 10px; 
      width: 100px; 
   
   }

   #icon-box-style {

      background-color: rgba(142, 123, 239, 0.1);
      border-radius: 10px ;
      -webkit-border-radius: 10px ;
      -moz-border-radius: 10px ;
      -ms-border-radius: 10px ;
      -o-border-radius: 10px ;
      padding: 10px; 
      margin: 10px; 
      width: 100px;  
   
   }

   /*Footer*/
   .footer__section {
      padding: 40px;
      margin-top: 40px;
      text-align: center;
      color: var(--color2);
      font-weight: 600;
      font-style: italic;
      background-color: blueviolet;

   }

}